<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">
	<div align="left">
    <a href="logout">Log Out</a>
    </div>
	<div align="right">
    <a href="newuser">Add New User</a>
    </div>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Diet plan</th>
                <th>Edit User Details</th>
                <th>Delete User</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${listUsers}">
            	<td th:text="${user.name}"></td>
                <td th:text="${user.phonenumber}"></td>
                <td >
             		<a th:href="@{'/editDietPlan/' + ${user.id}}"></a>
                </td>
                <td>
                	<a th:href="@{'/edit/' + ${user.id}}">edit</a>
                </td>
                <td>
                	<a th:href="@{'/delete/' + ${user.id}}">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>    
</body>
</html>